@{
    ViewData["Title"] = "log Book";
}
<head>
    <style>
        h1 {color:blue}
        h2 {color:rebeccapurple}
        h3 {color:royalblue}
        h4 {color:darkblue}
        body {background-color:lightblue}
    </style>
</head>

<div class="text-center">
    <h1 class="display-4">Log Book </h1>
    <p>Copyright &copy; N. Booth for Mogpie 2022</p>
    <img src="~/ShackPic10_2021.jpg" height="400" />
</div>


